{% extends 'myApp/base.html' %}

{% block content %}
  {% include 'myApp/includes/nav.html' %}
  {% include 'myApp/includes/hero.html' %}
  {% include 'myApp/includes/trust_strip.html' %}
  {% include 'myApp/includes/whats_happening.html' %}
  {% include 'myApp/includes/hopscotch_effect.html' %}
  {% include 'myApp/includes/why_hard.html' %}
  {% include 'myApp/includes/where_operates.html' %}
  {% include 'myApp/includes/clarity_to_strategy_new.html' %}
  {% include 'myApp/includes/built_for_sports.html' %}
  {% include 'myApp/includes/who_is_for.html' %}
  {% include 'myApp/includes/outcome.html' %}
  {% include 'myApp/includes/final_cta.html' %}
  {% include 'myApp/includes/footer.html' %}
{% endblock %}
